@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.login-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.followButton {
  position: relative;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 10px;
  height: auto;
  margin: 1;
  z-index: 2;
  padding: 2;
  width: 10%;
  height: 35px;
  overflow: hidden;
}

.followButton span {
  color: #000;
  font-size: 0.9rem;
  position: relative;
  z-index: 2;
  font-weight: 500;
}

.followButton::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #262222;
  position: absolute;
  left: -100%;
  z-index: 1;
  top: 0%;
  transition: all ease-out 0.3s;
}

.followButton:hover::after {
  left: 0%;
}

.followButton:hover span {
  color: #fff;
}

#profileContainer {
  min-height: 88.25vh;
  padding: 5vh 25vw;
  width: 100%;
}

.image-icon {
  cursor: pointer;
}

.text-1 {
  border: none;
  padding: 5px 10px;
  outline: none;
  position: relative;
  left: -10px;
  color: grey;
  font-size: 1rem;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

/* media queries start from here *************/

@media (max-width: 539px) {
  .link {
    font-size: 3vw;
  }
}

@media (max-width: 832px) {
  .followButton span {
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .followButton span {
    font-size: 10px;
    padding: 0;
  }
}
